<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Title</th>
				<th scope="col">Amount</th>
				<th scope="col">Date</th>
				<th scope="col">Category</th>
				<th scope="col">Note</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="expense : ${expenseList}">
				<td th:text="${expense.title}">Title</td>
				<td th:text="${expense.amount}">0.00</td>
				<td th:text="${expense.date}">2025-06-11</td>
				<td th:text="${expense.category}">Category</td>
				<td th:text="${expense.note}">Note</td>
			</tr>
		</tbody>
	</table>
	<h4>
		Total Expense: ₹<span th:text="${totalExpense}">0.0</span>
	</h4>


</body>
</html>